:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#page-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    background-color: #eae9e9;
    height: 100vh;
}

#header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid blue; /* Guideline Border */
}

#head-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 80%;
    width: 60%;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#head-box h1 {
    font-size: 2rem;
}

#main-content {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid orange; /* Guideline border */
}

#card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    gap: 30px;
    width: 90%;
    border: 1px solid red; /* Guideline border */
}

.card {
    background-color: white;
    border-left: 7px solid brown;
    border-right: 7px solid brown;
    border-radius: 10px;
    padding-left: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    /* border: 1px solid magenta; */
}

#new-book-button {
    background-color: rgb(16, 188, 16);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5rem;
}

.remove-button {
    background-color: rgb(209, 48, 48);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px;
}

.toggle-button {
    background-color: rgb(8, 145, 230);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px;
}